  <section class="footer-section" data-bgcolor="#BDCDFF" style="padding: 0;">
    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__top">
          <div class="container footer__container">
            <a href="#" class="footer__logo-link">
              <img src="../images/logo.svg" alt="Logo" class="footer__logo-img" />
            </a>
            <p class="footer__subtitle text">
              Инновационная частная школа полного дня в самом центре Петроградского
              острова.
            </p>
            <ul class="footer__list text">
              <li class="footer__list-item">
                <a href="#about" class="footer__list-link">О школе</a>
              </li>
              <li class="footer__list-item">
                <a href="#features" class="footer__list-link">Наш подход</a>
              </li>
              <li class="footer__list-item">
                <a href="#licenses" class="footer_list-link">Лицензии</a>
              </li>
              <li class="footer__list-item">
                <a href="#form" class="footer__list-link">Контакты</a>
              </li>
              <li class="footer__list-item">
                <a href="#howto" class="footer__list-link">Поступить в школу</a>
              </li>
              <li class="footer__list-item">
                <a href="" class="footer__list-link">Сведения об образовательной организации</a>
              </li>
            </ul>
            <div class="footer__social">
              <a href="" class="footer__social-wa-link" aria-label="WhatsApp"><img src="../images/icon-wa.svg" alt="WhatsApp Icon" class="footer__social-wa-img" /></a>
                  
              <a href="" class="footer__social-tg-link" aria-label="Telegram"><img src="../images/icon-tg.svg" alt="Telegram Icon" class="footer__social-tg-img" /></a>
            </div>
            <p class="footer__contacts text">
              Телефон: 8 800 2000 000<br />Адрес: Спб, Большая Пушкарская,&nbsp;35<br />Email:
              info@school-wings.ru<br />Режим работы: пн-пт 9:00-17:00
            </p>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container footer__swiper-container">
            <div class="footer__news">
              <h2 class="footer__news-title title">Новости школы</h2>
              <button class="footer__slick-arrow"></button>
              <div class="swiper footer__news-swiper">
                <button class="slider-arrow slider-arrow--prev footer__slider-arrow--prev" aria-label="Кнопка предыдущая страница слайдов"></button>
                <div class="swiper-wrapper footer__news-wrapper footer__slick-slider">
                  <div class="swiper-slide footer__news-slide news-slide">
                    <div class="news-slide__content">
                      <img class="news-slide__img" src="../images/footer-news-img-1.webp" alt="День открытых дверей" />
                      <div class="news-slide__wrapper">
                        <h2 class="news-slide__title title">
                          День открытых дверей в школе “Крылья” 1
                        </h2>
                        <div class="news-slide__text-wrapper expander__wrapper--4-5">
                          <p class="news-slide__text text expander__text--4-5">
                            Чем ближе каникулы, тем больше вопросов у родителей. В какую школу отдать своего первоклассника? Чем ближе каникулы, тем больше вопросов у родителей. В какую школу отдать своего первоклассника? 
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide footer__news-slide news-slide">
                    <div class="news-slide__content">
                      <img class="news-slide__img" src="../images/footer-news-img-1.webp" alt="День открытых дверей" />
                      <div class="news-slide__wrapper">
                        <h2 class="news-slide__title title">
                          День открытых дверей в школе “Крылья” 1
                        </h2>
                        <div class="news-slide__text-wrapper expander__wrapper--4-5">
                          <p class="news-slide__text text expander__text--4-5">
                            Чем ближе каникулы, тем больше вопросов у родителей. В какую школу отдать своего первоклассника? Чем ближе
                            каникулы, тем больше вопросов у родителей. В какую школу отдать своего первоклассника?
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide footer__news-slide news-slide">
                    <div class="news-slide__content">
                      <img class="news-slide__img" src="../images/footer-news-img-1.webp" alt="День открытых дверей" />
                      <div class="news-slide__wrapper">
                        <h2 class="news-slide__title title">
                          День открытых дверей в школе “Крылья” 1
                        </h2>
                        <div class="news-slide__text-wrapper expander__wrapper--4-5">
                          <p class="news-slide__text text expander__text--4-5">
                            Чем ближе каникулы, тем больше вопросов у родителей. В какую школу отдать своего первоклассника? Чем ближе
                            каникулы, тем больше вопросов у родителей. В какую школу отдать своего первоклассника?
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="slider-arrow slider-arrow--next footer__slider-arrow--next" aria-label="Кнопка следующая страница отзывов"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__map-container">
        <div class="footer__map" id="map"></div>
      </div>
    </footer>
  </section>
</main>

<script src="js/jquery-3.7.0.min.js"></script>
<script src="js/slick.min.js"></script>

<script src="js/swiper-bundle.min.js"></script>
<script src="js/fancybox.umd.js"></script>
<script src="js/locomotive-scroll.js"></script>
<script src="js/ScrollTrigger.min.js"></script>
<script src="js/gsap.min.js"></script>
<!-- <script src="js/main.min.js"></script> -->
<script src="js/main.js"></script>

<div class="modal-contact" style="display: none;">
  <div class="modal-contact__content">
    <h2 class="modal-contact__title title">Записаться на&nbsp;консультацию</h2>
    <form action="" class="modal-contact__form">
      <input class="form__form-name form__form-field modal-contact__form-field" type="text" id="name" name="name" placeholder="Ваше имя" />
      <input class="form__form-phone form__form-field modal-contact__form-field" type="tel" id="phone" name="phone" placeholder="Ваш телефон" />
      <input class="form__form-email form__form-field modal-contact__form-field" type="email" id="email" name="email" placeholder="Ваш email" />
      <button class="button form__button modal-contact__button" type="submit">
        Отправить заявку
      </button>
    </form>
    <span class="modal-contact__close-btn">
      <svg width="34" height="34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
        <rect y="30" width="42" height="5" rx="2.5" transform="rotate(-45 0 30)" />
        <rect x="4" width="42" height="5" rx="2.5" transform="rotate(45 4 0)" />
    </span>
  </div>
</div>

</body>

</html>